<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:e="http://typo3.org/ns/Ssch/Typo3Encore/ViewHelpers"
    xmlns:courseScheduler="http://typo3.org/ns/Rintisch/CourseScheduler/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="General"/>
<f:section name="content">
    <courseScheduler:title courseTitle="{course.title}" locationName="{course.location.0.title}" locationCity="{course.location.0.city}" />
    <f:render partial="Map/JsForMap"/>

    <f:variable name="stylingFactLabels">font-medium uppercase text-sm text-gray-500</f:variable>
    <f:if condition="{course.activityCategory}">
        <f:for each="{course.activityCategory}" as="activityCategory" iteration="iterator">
            <span class="uppercase text-primary-700 text-lg sm:text-xl">
                {activityCategory.title}{f:if(condition: '{iterator.isLast}', then: '', else: ', ')}
            </span>
        </f:for>
    </f:if>
    <h1 class="">{course.title}</h1>
    <div class="ce-plugintext grid md:grid-cols-3 gap-8 md:gap-12 mt-4 sm:mt-6 md:mt-10">
        <div class="md:col-span-2 flex flex-col justify-between">
            <div class="text-lg md:text-xl">
                <f:format.html>{course.description}</f:format.html>
                <f:if condition="{course.notes}">
                    <h4 class="mb-0 mt-5">
                        <f:translate key="tx_coursescheduler_domain_model_course.notes" extensionName="CourseScheduler"/>
                    </h4>
                    <f:format.html>{course.notes}</f:format.html>
                </f:if>
            </div>
            <f:if condition="{course.location}">
                <f:render section="renderMap" arguments="{settings: settings, locations: course.location}"/>
            </f:if>
            <f:if condition="{course.image}">
                <f:image image="{course.image}" width="544" class="rounded mt-8"/>
            </f:if>
        </div>
        <div class="font-sans font-light">
            <f:if condition="{settings.registrationPid}">
                <f:link.page
                    pageUid="{settings.registrationPid}"
                    class="btn btn-primary w-full text-center py-4 mb-8">
                    Anmelden
                </f:link.page>
            </f:if>

            <f:variable name="fact">
                {course.courseStartTime -> courseScheduler:time()} - {course.courseEndTime -> courseScheduler:time()}&nbsp;Uhr
            </f:variable>
            <f:render
                section="course-facts"
                arguments="{label: '{f:translate(key: \'tx_coursescheduler_domain_model_course.course_time_range\')}', fact: '{fact}'}"/>

            <f:variable name="fact">
                {course.courseStartDate -> f:format.date(format: '%A') -> f:format.case(mode: 'lower')}s, {course.courseStartDate -> f:format.date(format:
                '%d.%m.') -> f:format.case(mode: 'lower')} - {course.courseEndDate -> f:format.date(format: '%d.%m.%Y')}
            </f:variable>
            <f:render
                section="course-facts"
                arguments="{label: '{f:translate(key: \'tx_coursescheduler_domain_model_course.course_date_range\')}', fact: '{fact}'}"/>

            <f:if condition="{course.price}">
                <f:variable name="fact">
                    <f:format.currency currencySign="€">{course.price}</f:format.currency>
                    <f:if condition="{course.priceInformation}">
                        <div class="text-gray-600 text-sm">{course.priceInformation}</div>
                    </f:if>
                </f:variable>
                <f:render
                    section="course-facts"
                    arguments="{label: '{f:translate(key: \'tx_coursescheduler_domain_model_course.price\')}', fact: '{fact}'}"/>
            </f:if>

            <f:if condition="{course.location}">
                <f:variable name="fact">
                    <f:for each="{course.location}" as="singleLocation">
                        {singleLocation.title}<br>
                        {singleLocation.address}<br>
                        {singleLocation.zip} {singleLocation.city}
                    </f:for>
                </f:variable>
                <f:render
                    section="course-facts"
                    arguments="{label: '{f:translate(key: \'tx_coursescheduler_domain_model_course.location\')}', fact: '{fact}'}"/>
            </f:if>

            <div class="mt-5 my-4">
                <f:if condition="{course.levelCategory}">
                    <f:for each="{course.levelCategory}" as="levelCategory" iteration="iterator">
                        <span class="rounded-full bg-primary-200 py-1 px-2 mr-1 md:inline-block text-sm mb-1 max-w-full truncate">{levelCategory.title}</span>
                    </f:for>
                </f:if>
            </div>

            <div class="mt-5 my-4">
                <f:if condition="{course.accessCategory}">
                    <f:for each="{course.accessCategory}" as="accessCategory" iteration="iterator">
                        <span class="rounded-full bg-secondary-200 py-1 px-2 mr-1 md:inline-block text-sm mb-1 max-w-full truncate">{accessCategory.title}</span>
                    </f:for>
                </f:if>
            </div>

            <f:if condition="{course.files}">
                <f:variable name="fact">
                    <ul>
                        <f:for each="{course.files}" as="file">
                            <li class="py-1 text-base">
                                <f:if condition="{file.originalResource.title}">
                                    <f:then>
                                        <a href="{file.originalResource.publicUrl}" class="py-2 text-base" target="_blank">{file.originalResource.title}</a>
                                    </f:then>
                                    <f:else>
                                        <a href="{file.originalResource.publicUrl}" class="py-2 text-base" target="_blank">
                                            {file.originalResource.originalFile.name}
                                        </a>
                                    </f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </f:variable>
                <f:render
                    section="course-facts"
                    arguments="{label: '{f:translate(key: \'tx_coursescheduler_domain_model_course.files\')}', fact: '{fact}'}"/>
            </f:if>
        </div>

    </div>
</f:section>

<f:comment><!-- COURSE FACTS --></f:comment>
<f:section name="course-facts">
    <h4 class="uppercase text-gray-400 text-base mb-0 pb-0">{label}</h4>
    <div class="mb-7 text-lg">
        {fact -> f:format.htmlentitiesDecode()}
    </div>
</f:section>

<f:comment><!-- RENDER MAP --></f:comment>
<f:section name="renderMap">
    <f:if condition="{locations.0.latitude} && {locations.0.longitude}">
        <f:render partial="Map/Container" arguments="{settings: settings, height: 300}"/>
        <ul id="js-course__records" style="display: none">
            <f:for each="{locations}" as="address">
                <f:render partial="Map/Address" arguments="{address: address}"/>
            </f:for>
        </ul>
    </f:if>
</f:section>
</html>
