<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:e="http://typo3.org/ns/Ssch/Typo3Encore/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="General"/>

<f:section name="content">

    <f:render partial="Map/JsForMap"/>

    <e:renderWebpackScriptTags entryName="timetable"/>

    <div class="course-scheduler">
        <f:if condition="{courses}">
            <f:then>
                <f:if condition="{courses.coursesPriorToMidday}">
                    <h2>
                        <f:translate key="tx_coursescheduler_partOfDay.forenoon"/>
                    </h2>
                    <f:render partial="Course/HalfOfDay" arguments="{halfOfDay: courses.weekPriorToMidday}"/>
                </f:if>

                <f:if condition="{courses.coursesAfterMidday}">
                    <h2 class="mt-8">
                        <f:translate key="tx_coursescheduler_partOfDay.afternoon"/>
                    </h2>
                    <f:render partial="Course/HalfOfDay" arguments="{halfOfDay: courses.weekAfterMidday}"/>
                </f:if>
            </f:then>
            <f:else>
                <f:translate key="tx_coursescheduler_courses.noCourses"/>
            </f:else>
        </f:if>
    </div>
    <f:render partial="Course/DetailModal"/>
</f:section>

</html>


