{namespace courseScheduler=Rintisch\CourseScheduler\ViewHelpers}
<div class="font-sans font-light break-words bg-primary-200 p-2 sm:p-4 lg:p-8 md:px-2 md:py-4 col-start-1 col-end-2 md:col-start-{gridCol.cycle} md:col-end-{gridCol.cycle + 1} md:row-start-{gridRow.cycle + 1} md:row-end-{gridRow.cycle + 2} rounded hover:bg-primary-300 shadow-md hover:shadow-none transition">
    <f:link.action
        class="course-scheduler-ajaxified no-underline hover:no-underline text-gray-800"
        extensionName="coursescheduler"
        pluginName="SingleCourse"
        controller="Course"
        action="detail"
        arguments="{course: course.uid}">
        <div class="pointer-events-none">
            <f:if condition="{course.activityCategory}">
                <div class="font-medium text-xs lg:text-sm text-gray-800 opacity-60 uppercase">
                    <f:for each="{course.activityCategory}" as="activityCategory" iteration="iterator">
                        {activityCategory.title}{f:if(condition: '{iterator.isLast}', then: '', else: ', ')}
                    </f:for>
                </div>
            </f:if>

            <div class="font-sans font-light text-base lg:text-xl">
                {course.courseStartTime -> courseScheduler:time()} - {course.courseEndTime -> courseScheduler:time()}
            </div>
            <f:for each="{course.location}" as="singleLocation">
                <div class="text-base pr-1 p-0 leading-none mt-1">{f:if(condition: '{singleLocation.abbreviation}', then: '{singleLocation.abbreviation}',
                    else:'{singleLocation.title}')}
                </div>
            </f:for>

            <div class="my-3 text-lg font-medium lg:font-light lg:text-2xl text-black leading-tight">{course.title}</div>

            <f:if condition="{course.levelCategory}">
                <div class="lg:mt-2 lg:pt-2 mb-1">
                <f:for each="{course.levelCategory}" as="levelCategory" iteration="iterator">
                    <span class="rounded-full bg-primary-100 py-1 px-1 lg:px-2 -ml-1 -lg:ml-2 mr-2 md:inline-block text-xs lg:text-sm mb-1 max-w-full truncate">{levelCategory.title}</span>
                </f:for>
                </div>
            </f:if>
            <f:if condition="{course.accessCategory}">
                <f:for each="{course.accessCategory}" as="accessCategory" iteration="iterator">
                    <span class="text-gray-700 font-medium uppercase md:inline-block text-xs max-w-full truncate">{accessCategory.title}</span>
                </f:for>
            </f:if>
        </div>

    </f:link.action>
</div>
