<div id="course-modal-background" class="hidden absolute z-40 left-0 top-0 right-0 bottom-0 overflow-auto bg-primary-400 bg-opacity-50 p-8">
    <div class="flex justify-center content-center max-h-full">
        <div id="course-modal-container" class="bg-white p-8 max-w-4xl rounded-md shadow-xl relative max-h-full overflow-y-auto">

            <span id="modal-close" class="absolute top-0 right-0 text-5xl w-12 text-secondary-800 hover:text-primary-800 cursor-pointer">&times;</span>
            <div id="course-modal-content">
            </div>
        </div>
    </div>

</div>
