
<f:comment>
    <!--
    for purgeCSS:
    md:grid-cols-1 md:grid-cols-2 md:grid-cols-3 md:grid-cols-4 md\:grid-cols-5 md:grid-cols-6 md:grid-cols-7

    md:col-start-1 md:col-start-2 md:col-start-3 md:col-start-4 md:col-start-5 md:col-start-6 md:col-start-7 md:col-start-8

    md:col-end-1 md:col-end-2 md:col-end-3 md:col-end-4 md:col-end-5 md:col-end-6 md:col-end-7 md:col-end-8
    -->
</f:comment>
<div class="grid grid-cols-1 md:grid-cols-{f:count(subject: halfOfDay)} gap-2">
    <f:for each="{halfOfDay}" as="dayCourses" key="dayname" iteration="gridCol">
            <header class="{f:if(condition:'{dayCourses -> f:count()} == 0', then: 'hidden md:block ')}bg-primary-200 shadow-sm text-center p-2 col-start-1 mt-8 md:mt-0 col-end-2 md:col-start-{gridCol.cycle} md:col-end-{gridCol.cycle + 1} rounded opacity-80">
                <p class="text-center font-light text-lg text-black p-0 m-0 uppercase">
                    <f:translate key="tx_coursescheduler_dayOfWeek.{dayname}"/>
                </p>
            </header>
            <f:for each="{dayCourses}" as="course" iteration="gridRow">
                <f:render partial="Course/Course" arguments="{course: course, gridRow: gridRow, gridCol: gridCol, settings: settings}"/>
            </f:for>
    </f:for>
</div>
